.page { min-height: calc(100vh - var(--header-total-height)); background: #fff; }

.image { width: 100%; display: block; margin-bottom: 1rem; }

.partnershipImg { width: 35%; display: block; margin: 0 auto 1rem; }
